body {
  background-color: teal;
  color: antiquewhite;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  color: yellowgreen;
  font-family: 'Kanit', sans-serif;
}

img {
  width: 250px;
}

a {
  color: red;
}